@font-face {
  font-family: "Segoe UI";
  src: url('../fonts/SegoeUI/SegoeUI-Italic.eot');
  src: url('../fonts/SegoeUI/SegoeUI-Italic.woff2') format('woff2'),
  url('../fonts/SegoeUI/SegoeUI-Italic.woff') format('woff'),
  url('../fonts/SegoeUI/SegoeUI-Italic.ttf') format('truetype'),
  url('../fonts/SegoeUI/SegoeUI-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Segoe UI";
  src: url('../fonts/SegoeUI/SegoeUI-Light.eot');
  src: url('../fonts/SegoeUI/SegoeUI-Light.woff2') format('woff2'),
  url('../fonts/SegoeUI/SegoeUI-Light.woff') format('woff'),
  url('../fonts/SegoeUI/SegoeUI-Light.ttf') format('truetype'),
  url('../fonts/SegoeUI/SegoeUI-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url('../fonts/SegoeUI/SegoeUI-Regular.eot');
  src: url('../fonts/SegoeUI/SegoeUI-Regular.woff2') format('woff2'),
  url('../fonts/SegoeUI/SegoeUI-Regular.woff') format('woff'),
  url('../fonts/SegoeUI/SegoeUI-Regular.ttf') format('truetype'),
  url('../fonts/SegoeUI/SegoeUI-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url('../fonts/SegoeUI/SegoeUI-SemiBold.eot');
  src: url('../fonts/SegoeUI/SegoeUI-SemiBold.woff2') format('woff2'),
  url('../fonts/SegoeUI/SegoeUI-SemiBold.woff') format('woff'),
  url('../fonts/SegoeUI/SegoeUI-SemiBold.ttf') format('truetype'),
  url('../fonts/SegoeUI/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url('../fonts/SegoeUI/SegoeUI-Semilight.eot');
  src: url('../fonts/SegoeUI/SegoeUI-Semilight.woff2') format('woff2'),
  url('../fonts/SegoeUI/SegoeUI-Semilight.woff') format('woff'),
  url('../fonts/SegoeUI/SegoeUI-Semilight.ttf') format('truetype'),
  url('../fonts/SegoeUI/SegoeUI-Semilight.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url('../fonts/DIN/DIN-Bold.eot');
  src: url('../fonts/DIN/DIN-Bold.woff2') format('woff2'),
  url('../fonts/DIN/DIN-Bold.woff') format('woff'),
  url('../fonts/DIN/DIN-Bold.ttf') format('truetype'),
  url('../fonts/DIN/DIN-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url('../fonts/DIN/DIN-Regular.eot');
  src: url('../fonts/DIN/DIN-Regular.woff2') format('woff2'),
  url('../fonts/DIN/DIN-Regular.woff') format('woff'),
  url('../fonts/DIN/DIN-Regular.ttf') format('truetype'),
  url('../fonts/DIN/DIN-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}