footer.footer
    .footer__top
        .footer__container
            .footer__column
                h5.footer__title Product categories
                ul.footer__list
                    li.footer__item
                        a.footer__link(href="#") Fragrance
                    li.footer__item
                        a.footer__link(href="#") Mens
                    li.footer__item
                        a.footer__link(href="#") Make up
                    li.footer__item
                        a.footer__link(href="#") Skin Care
                    li.footer__item
                        a.footer__link(href="#") Sun & Tan
                    li.footer__item
                        a.footer__link(href="#") Bath & Body
                    li.footer__item
                        a.footer__link(href="#") Hair
                    li.footer__item
                        a.footer__link(href="#") Gifts
                    li.footer__item
                        a.footer__link(href="#") Special Others
                    li.footer__item
                        a.footer__link(href="#") Brands A-Z
            .footer__column
                h5.footer__title Shopping with us
                ul.footer__list
                    li.footer__item
                        a.footer__link(href="#") About Us
                    li.footer__item
                        a.footer__link(href="#") My Account
                    li.footer__item
                        a.footer__link(href="#") FAQs
                    li.footer__item
                        a.footer__link(href="#") Gift Wrapping
                    li.footer__item
                        a.footer__link(href="#") Gift Certificate
            .footer__column
                h5.footer__title Customer service
                ul.footer__list
                    li.footer__item
                        a.footer__link(href="#") Delivery Information
                    li.footer__item
                        a.footer__link(href="#") CollectPlus
                    li.footer__item
                        a.footer__link(href="#") Returns Policy
                    li.footer__item
                        a.footer__link(href="#") Help
                    li.footer__item
                        a.footer__link(href="#") Security & Cookies
                    li.footer__item
                        a.footer__link(href="#") Sitemap
                    li.footer__item
                        a.footer__link(href="#") Terms & Conditions
            .footer__column
                h5.footer__title Contact us
                ul.footer__list
                    li.footer__item
                        a.footer__link(href="#") Addresses
                    li.footer__item
                        a.footer__link(href="#") Phone
                    li.footer__item
                        a.footer__link(href="#") Email
                h5.footer__title Social connect
                ul.footer__socials
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            i.fa.fa-facebook
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            i.fa.fa-twitter
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            i.fa.fa-linkedin
    .footer__bottom
        .footer__copyright Copyright &copy; 2016 Perfume store. All rights reserved | Design by creativeankit.com