section.bestseller.sale
    .container
        .sale__header
            h2.sale__title Best Seller in Fragrance
            .sale__controls
                .sale__controls-left
                    i.fa.fa-chevron-left
                .sale__controls-right
                    i.fa.fa-chevron-right
        .sale__content
            ul.sale__list
                li.sale__item
                    img(src="img/content/bestseller-1.png" alt="Bestseller").sale__item-image
                    h3.sale__item-title Davidoff
                    h4.sale__item-desc Women's Perfume
                    .sale__item-price $ 200.00
                li.sale__item
                    img(src="img/content/bestseller-2.png" alt="Bestseller").sale__item-image
                    h3.sale__item-title Davidoff
                    h4.sale__item-desc Men's Perfume
                    .sale__item-price $ 200.00
                li.sale__item
                    img(src="img/content/bestseller-3.png" alt="Bestseller").sale__item-image
                    h3.sale__item-title Davidoff
                    h4.sale__item-desc Men's Perfume
                    .sale__item-price $ 200.00
                li.sale__item
                    img(src="img/content/bestseller-4.png" alt="Bestseller").sale__item-image
                    h3.sale__item-title Davidoff
                    h4.sale__item-desc Women's Perfume
                    .sale__item-price $ 200.00
                li.sale__item
                    img(src="img/content/bestseller-5.png" alt="Bestseller").sale__item-image
                    h3.sale__item-title Davidoff
                    h4.sale__item-desc Men's Perfume
                    .sale__item-price $ 200.00