section.discount
    .container
        .discount__amount
            .discount__amount-number 50%
            .discount__amount-text off
        h2.discount__title On women's perfumes
        .discount__product
            img(src="img/content/daisy.jpg" alt="Discount").discount__product-image
            h3.discount__product-title Daisy
            h4.discount__product-author Marc Jacobs
            .discount__product-price $ 265.00
            .discount__product-btn Buy now
            .discount__controls
                .discount__controls-control.discount__controls-control_active
                .discount__controls-control
                .discount__controls-control
                .discount__controls-control