section.subscribe
    .container
        h2.subscribe__title Stay update with latest perfume and discounts
        form.subscribe__form
            input(name="email" placeholder="Enter Your Email Id").subscribe__form-email
            button(type="submit").subscribe__form-submit Subscribe now