section.welcome
    .welcome__left
        .welcome__left-container
            .welcome__header
                .welcome__logo
                    ul.welcome__sign
                        li.welcome__sign-item
                        li.welcome__sign-item
                        li.welcome__sign-item
                        li.welcome__sign-item
                    h1.welcome__header-title Your logo
                .welcome__control
                    .welcome__control-link Login
                    .welcome__control-link
                        i.fa.fa-search
                    .welcome__control-link
                        i.fa.fa-cart-arrow-down
            .welcome__content
                h3.welcome__title Jasmin noir
                h4.welcome__desc Women's perfume
                .welcome__price $ 250.00
                a(href="#").welcome__buy-link Buy now
            ul.welcome__dots
                li.welcome__dots-item.welcome__dots-item_active
                li.welcome__dots-item
                li.welcome__dots-item
                li.welcome__dots-item
    .welcome__right
        .welcome__right-container
            ul.welcome__list
                li.welcome__item
                    a(href="#").welcome__link Home
                li.welcome__item
                    a(href="#").welcome__link About us
                li.welcome__item
                    a(href="#").welcome__link Men's perfume
                li.welcome__item
                    a(href="#").welcome__link Women's perfume
                li.welcome__item
                    a(href="#").welcome__link Top seller
                li.welcome__item
                    a(href="#").welcome__link Gift pack
                li.welcome__item
                    a(href="#").welcome__link Brands
                li.welcome__item
                    a(href="#").welcome__link Contact us
            .welcome__close
                .welcome__close-line.welcome__close-line_left
                .welcome__close-line.welcome__close-line_right