section.sale
    .container
        .sale__header
            h2.sale__title Top Sellers for Women
            .sale__controls
                .sale__controls-left
                    i.fa.fa-chevron-left
                .sale__controls-right
                    i.fa.fa-chevron-right
        .sale__content
            ul.sale__list
                li.sale__item
                    img(src="img/content/women-1.jpg" alt="Bestseller").sale__item-image.sale__item-image_women
                    h3.sale__item-title Davidoff
                    h4.sale__item-desc Women's Perfume
                    .sale__item-price $ 200.00
                li.sale__item
                    img(src="img/content/women-2.jpg" alt="Bestseller").sale__item-image.sale__item-image_women
                    h3.sale__item-title Davidoff
                    h4.sale__item-desc Women's Perfume
                    .sale__item-price $ 200.00
                li.sale__item
                    img(src="img/content/women-3.jpg" alt="Bestseller").sale__item-image.sale__item-image_women
                    h3.sale__item-title Davidoff
                    h4.sale__item-desc Women's Perfume
                    .sale__item-price $ 300.00
                li.sale__item
                    img(src="img/content/women-4.jpg" alt="Bestseller").sale__item-image.sale__item-image_women
                    h3.sale__item-title Davidoff
                    h4.sale__item-desc Women's Perfume
                    .sale__item-price $ 200.00
                li.sale__item
                    img(src="img/content/women-5.jpg" alt="Bestseller").sale__item-image.sale__item-image_women
                    h3.sale__item-title Davidoff
                    h4.sale__item-desc Women's Perfume
                    .sale__item-price $ 200.00